[submodule "src/image_transport_plugins"]
	path = src/image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins.git
	branch = noetic-devel
[submodule "src/raspicam_node"]
	path = src/raspicam_node
	url = https://github.com/UbiquityRobotics/raspicam_node.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = noetic
[submodule "src/image_common"]
	path = src/image_common
	url = https://github.com/ros-perception/image_common.git
	branch = noetic-devel
[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros
